*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    width: 200px;
    margin: 20px auto 0;
    border: 1px solid #ccc;
}
nav{
    height: 45px;
    display: flex;
    border-bottom: 1px solid #ccc;
}
nav span{
    flex:1;
    line-height: 44px;
    text-align: center;
}
nav span:not(:last-child){
    border-right: 1px solid #ccc;
}
.active{
    color: red;
    font-weight: 900;
}

.con{
    min-height: 100px;
    line-height: 30px;
    text-align: center;
}
